<div>
    <h1>Menu</h1>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">
                Home
            </a>
            &nbsp;|&nbsp;
        </li>
        <li>
            <a [routerLink]="['/listaproductos']">
                lista prouctos
            </a>
            &nbsp;|&nbsp;
        </li>
        <li>
            <a [routerLink]="['/padrecoches']">
                Padre coches
            </a>
            &nbsp;|&nbsp;
        </li>
        <li>
            <a [routerLink]="['/padredeportes']">
                Padre deportes
            </a>
            &nbsp;|&nbsp;
        </li>
    </ul>
</div>